 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-illustrator-plain colored"></i>
      <i class="devicon-canva-original"></i>
      <i class="fab fa-powerpoint"></i>
      <p>Adobe Illustrator For Professional Graphic designing, Canva and Powerpoint Expert</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-azuresqldatabase-plain colored"></i>
      <i class="devicon-sqldeveloper-plain colored"></i>
      <p> Good understanding of HTML for contemporary coding, SQL and DAX for Data Analysis</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
     <i class="fab fa-microsoft"></i>
     <i class="fas fa-file-excel"></i>
     <p>PowerBI, Excel and Tableau Expert</p>
    </div>
</div>
