<div class="user-details">
  <h1> Data Analysis Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right" styles="margin-top:48px">
    <img alt="Crime Statistics" src="{{ "/assets/img/MINISTRY-OF-POLICE-AFFAIRS-CRIME-STATISTICS/MINISTRY OF POLICE AFFAIRS CRIME STATISTICS_page-0001.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Crime Statistics - Ministry of Police Affairs </h3>
    <ul>
      <li> Power Qwery | Power Pivot | Power Bi </li>
    </ul>
    <p> This data analyzes crime statistics in Nigeria from 2021 to 2023, revealing significant trends and regional disparities. Total reported cases varied, with 3,965 in 2021, 6,359 in 2022, and 5,647 in 2023. High-crime states include Kaduna, Zamfara, and Edo, necessitating targeted interventions. Kidnapping and murder are the most prevalent crimes, with notable occurrences of armed robbery, banditry, and terrorism. The peak in 2022 suggests a temporary escalation in criminal activities. These insights underscore the need for tailored security strategies to address specific regional challenges and improve public safety across Nigeria. </p>
    <a class="project-link" href="https://www.linkedin.com/posts/abiodun-oladipupo-01aa74215_excel-datadashboard-dynamicdata-activity-7103473015077679104-VHGk?utm_source=share&utm_medium=member_desktop">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Flight Demographic and rating" src="{{ "/assets/img/Screenshot (17).png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Flight Demographic and Rating </h3>
    <ul>
      <li> Excel | SQL | Tableau </li>
    </ul>
    <p>I cleaned, trim and visualise this data from Excel to SQL Server Management Studios and to Tableau where I made use of the SQL code to analyse data. i Also condition the age in form of age groups to group the Flight passengers in 5 groups. I made use of conditions formating to format each rating column to be in form of star to represent each rating out of five. You can further get better analysis of Each class.</p>
    <a class="project-link" href="https://public.tableau.com/views/FlightPassengersDemographicandRating/FlightDemographicandrating?:language=en-GB&publish=yes&:sid=&:display_count=n&:origin=viz_share_link">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="DataKliq Practice 2" src="{{ "/assets/img/datakliq.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sales Overall Dashboard </h3>
    <ul>
      <li> Excel | Power Qwery | Power Pivot </li>
    </ul>
    <p>I completed this project using Microsoft Excel where I tackled a data challenge. I'm really proud of how it turned out! I made sure everything was perfect, from cleaning the data to using tools like Power Query and Power Pivot.  What makes this project stand out is the dynamic dashboard. When you click on different years, the data magically changes right before your eyes. You can even select multiple years to explore the data in more detail!</p>
    <a class="project-link" href="https://www.linkedin.com/posts/abiodun-oladipupo-01aa74215_excel-datadashboard-dynamicdata-activity-7103473015077679104-VHGk?utm_source=share&utm_medium=member_desktop">Check it out</a>
  </div>
</div>
