<div class="user-details">
  <h1> Data Analysis Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="DataKliq Practice" src="{{ "https://drive.google.com/file/d/1OneJrm9KWtZs15LmRSbrBIpazbLWNWI6/view?usp=sharing" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sales Overall Dashboard </h3>
    <ul>
      <li> Excel | Power Qwery | Power Pivot </li>
    </ul>
    <p>I completed this project using Microsoft Excel where I tackled a data challenge. I'm really proud of how it turned out! I made sure everything was perfect, from cleaning the data to using tools like Power Query and Power Pivot.  What makes this project stand out is the dynamic dashboard. When you click on different years, the data magically changes right before your eyes. You can even select multiple years to explore the data in more detail!</p>
    <a class="project-link" href="https://www.linkedin.com/posts/abiodun-oladipupo-01aa74215_excel-datadashboard-dynamicdata-activity-7103473015077679104-VHGk?utm_source=share&utm_medium=member_desktop">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
